.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 100px;
  position: fixed;
  left: 25px;
  bottom: 25px;
  font-family: courier;
  text-align: center;
  font-size: 75px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}

.header {
  position: fixed;
  font-family: serif;
  font-size: 50px;
  left: 25px;
  bottom: 23.4%;
}
